@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
	background-color:#0b0e11;
	margin:0px;
	font-family:Roboto, sans-serif;
	overflow:hidden;
	color:#fff;
}

a {
	color:#FF3562;
}

header {
	position:fixed;
	width:100%;
	display:flex;
	justify-content:flex-start;
	align-items:center;
	padding-left:8px;
}

#logo {
	margin-left:5px;
	margin-top:9px;
	max-height:50px;
	margin-right:10px;
	margin-bottom:10px;
}

#form {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
	width:420px;
	max-height:350px;
	border-radius:5px;
	background-color:#181F25;
	padding-top:40px;
	padding-left:40px;
	padding-right:40px;
	box-sizing:border-box;
	padding-bottom:40px;
}

#form-head {
	display:flex;
	box-sizing:border-box;
	justify-content:center;
	flex-direction:column;
}

#form-head h2 {
	font-size:25px;
	margin:0px;
}

#form-head p {
	font-size:15px;
}

#nav-wrapper {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:40%;
}

.button {
	width:auto;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#242c37;
	margin-top:20px;
	padding-top:15px;
	padding-bottom:15px;
	border-radius:3px;
	cursor:pointer;
	transition:background-color 150ms;
	font-size:18px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}


.button:hover {
	background-color:#323d4d;
}

footer {
	position:fixed;
	bottom:0px;
	right:0px;
	height:60px;
	display:flex;
	width:30%;
	justify-content:space-between;
	box-sizing:border-box;
	padding-right:50px;
}

footer a {
	color:#b2bdcd;
	text-decoration:none;
}

@media only screen and (max-width:1200px) {
	footer {
		width:100%;
		padding-left:150px;
		padding-right:150px;
	}
}

@media only screen and (max-width:800px) {
	footer {
		width:100%;
		padding-left:40px;
		padding-right:40px;
	}
}

@media only screen and (max-width:500px) {
	footer {
		width:100%;
		padding-left:40px;
		padding-right:40px;
		font-size:14px;
	}

	#form {
		width:80%;
	}
}

@media only screen and (max-width:400px) {
	footer {
		font-size:12px;
		height:65px;
	}
}